@charset "UTF-8";
/*
palheta de cores 
verde: #49a09d
lilas: #5f2c82
*/
*{
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
body, html {
    background-color: #5f2c82;
    height: 100vh;
    width: 100vw;
}
main{
    position: relative;
    height: 100vh;
    width: 100vw;
}

section#login{
    position: absolute;
    top: 50%;
    left: 50%;
    overflow: hidden;
    
    background-color: white;
    height: 500px;
    width: 250px;
    border-radius: 20px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.464);
    
    transform: translate(-50%, -50%);
    transition: width 0.3s, height 0.3s;
    transition-timing-function: ease;
}
section > div#imagem{
    display: block;
    background: #5f2c82 url(../imagem/login.jpg);
    height: 200px;
    background-size: cover;
}
section > div#formulario{
    display: block;
    padding: 10px;
}
div#formulario > h1{
    text-align: center;
    margin-bottom: 10px;
}
div#formulario > p{
    font-size: 0.8em;
}
form div.campo{
    background-color: #5f2c82;
    border: 2px solid #5f2c82;
    display: block;
    margin: 5px 0px;
    border-radius: 5px;
    height: 40px;
    width: 100%;
}
div.campo > label{
    display: none;
}

div.campo span {
    color: white;
    
    width: 40px;
    font-size: 2em;
    padding: 5px;
}
div.campo > input{
    background-color: #49a09d;
    font-size: 1em;
    width: calc(100% - 45px);
    height: 100%;
    border-radius: 5px;
    border: 0px;
    padding: 4px;
    transform: translateY(-12px);

}
div.campo > input:focus-within{
    background-color: white;
}

form > input[type=submit]{
    display: block;
    font-size: 1em;
    width: 100%;
    height: 40px;
    border: none;
    border-radius: 10px;
    background-color: #49a09d;
    color: white;
}
form > a.botao{
    display: block;
    text-align: center;
    font-size: 1em;
    width: 100%;
    height: 40px;
    padding-top: 5px;
    margin-top: 5px;
    background-color: white;
    color: #2d6462;
    border: 1px solid #49a09d;
    border-radius: 10px;
    text-decoration: none;
}
form > a.botao:hover{
    background-color: #2d6462;
    color: white;
    cursor: pointer;
}

form > a.botao > span {
    font-size: 1.1em;
}